<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template - Exercise 1</title>

    <!--CSS liked files-->
    <link rel="icon" href="../../../images/logos/logoSmall.png" type="image/x-icon">
    <link rel="stylesheet" href="../../../templates/css/exercise.css">
    <link rel="stylesheet" href="../../../templates/css/general.css">
    <link rel="stylesheet" href="../../../templates/css/buttons.css">
</head>
<body class="body">
    <!--Leave button-->
    <div class="leave">
        <a href="../../../index.html" title="Leave">X</a>
    </div>

    <!--Content in the center of the page-->
    <div class="center">
        <p id="exerciseTitle">Fill the lines with correct words from the given list.</p>
        Hello, and welcome <input type="text" id="to"> Lingfinity!
    </div>

    <!-- The panel at the bottom of the page-->
    <div class="panel">
        <!--Message-->
        <p class="panelMessage" id="panelMessage">Enter answers and then press the <b>Check</b> button.</p>
        <!--Check/Continue button-->
        <button class="button panelButton continueButtonGlobal gradientButton" onclick="Check();"><b>Check</b></button>
    </div>
</body>
<script src="script.js"></script>
</html>