/* Light Mode Color */
body {
    background-image: linear-gradient(to right, #cefff3, #eed1ff);
}

<<<<<<< HEAD
<<<<<<< HEAD
/*Centering for title*/
.center{
=======
.center {
>>>>>>> d54e04d10674fbfcaee40d9a30f273d4ccfc919d
=======
.center{
>>>>>>> parent of d54e04d... minor code formating
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*Header*/
h1 {
    color: black;
    font-family: Nunito, Calibri;
    text-shadow: 1.5px 2px 2.5px #00000069;
}

<<<<<<< HEAD
<<<<<<< HEAD
/*Dark Theme switch*/
.themeSwitch{
=======
#darkTheme {
>>>>>>> d54e04d10674fbfcaee40d9a30f273d4ccfc919d
=======
#darkTheme{
>>>>>>> parent of d54e04d... minor code formating
    text-align: right;
    padding-right: 1%;
    margin-top: 1%;
}

<<<<<<< HEAD
/*Dark Theme*/
.dark-mode{
    background-image: linear-gradient(to right, #121615, #110f13);
}



/*Continue Button*/
#contButton{
=======
#darkTheme button {
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.425);
}

.dark-mode{
    color: white; /*doesn't effect button text colour nor the h1*/
    background-image: linear-gradient(to right, #121615, #110f13);
}

<<<<<<< HEAD
#contButton {
>>>>>>> d54e04d10674fbfcaee40d9a30f273d4ccfc919d
=======
#contButton{
>>>>>>> parent of d54e04d... minor code formating
    margin:0;
    position: absolute;
    top:60%;
    left:50%;
    transform: translate(-50%, -50%);
    height: 70px;
    width: 140px;
}

<<<<<<< HEAD
<<<<<<< HEAD
/*Discord button*/
.social{
=======
.social {
>>>>>>> d54e04d10674fbfcaee40d9a30f273d4ccfc919d
=======
.social{
>>>>>>> parent of d54e04d... minor code formating
    margin:0;
    position: absolute;
    top:85%;
    left:50%;
    transform: translate(-50%, -50%);
}
