/* Light Mode Color */
body {
    background-image: linear-gradient(to right, #cefff3, #eed1ff);
}

/*Centering for title*/
.center{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*Header*/
h1 {
    color: black;
    font-family: Nunito, Calibri;
    text-shadow: 1.5px 2px 2.5px #00000069;
}

/*Dark Theme switch*/
.themeSwitch{
    text-align: right;
    padding-right: 1%;
    margin-top: 1%;
}

/*Dark Theme*/
.dark-mode{
    background-image: linear-gradient(to right, #121615, #110f13);
}



/*Continue Button*/
#contButton{
    margin:0;
    position: absolute;
    top:60%;
    left:50%;
    transform: translate(-50%, -50%);
    height: 70px;
    width: 140px;
}

/*Discord button*/
.social{
    margin:0;
    position: absolute;
    top:85%;
    left:50%;
    transform: translate(-50%, -50%);
}
