body {
    background-image: linear-gradient(to right, #cefff3, #eed1ff);
}

.center{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    color: black;
    font-family: Nunito, Calibri;
    text-shadow: 1.5px 2px 2.5px #00000069;
}

#darkTheme{
    text-align: right;
    padding-right: 1%;
    margin-top: 1%;
}

#darkTheme button {
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.425);
}

.dark-mode{
    color: white; /*doesn't effect button text colour nor the h1*/
    background-image: linear-gradient(to right, #121615, #110f13);
}

#contButton{
    margin:0;
    position: absolute;
    top:60%;
    left:50%;
    transform: translate(-50%, -50%);
    height: 70px;
    width: 140px;
}

.social{
    margin:0;
    position: absolute;
    top:85%;
    left:50%;
    transform: translate(-50%, -50%);
}