/*The image question is asked about properties*/
.image {
    height: 200px;
    width: 250px;
}

/*Question text properties*/
.question {
    margin-top: 5%;
    font-weight: bold;
    font-size: 22.5px;
}

/*Answer button properties*/
.answer {
    font-size: 22.5px;
}

/*Properties for a disabled button*/
.disable {
    opacity: 0.6;
    cursor: not-allowed;
}

/*The properties of the panel on the bottom of the page*/
.panel {
    font-family: Nunito, Calibri;
    font-size: 22px;
    height: 100px;
    width: 100%;
    background-color: white;
    bottom: 0;
    position: absolute;
    margin: 0 auto;
    text-align: center;
    display: inline-flex;
    padding: 20px;
}

/*The properties of the message in a panel on the bottom of the page*/
.panelMessage {
    bottom: 18px;
    left: 20px;
    position: fixed;
}

/*The properties of the answer button*/
.correct {
    background-color: "#5EFF19";
}