/*Nunito font*/
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

/*General*/
.center {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#header{
    color: black;
    font-size: 15px;
    text-shadow: 1.5px 2px 2.5px #00000069;
    z-index: 2;
    font-size: 20px;
}

/*Buttons with answers*/
.image {
    height: 200px;
    width: 250px;
}

.question {
    margin-top: 5%;
    font-weight: bold;
}

.answer {
    font-size: 22.5px;
}

.disable {
    opacity: 0.6;
    cursor: not-allowed;
}

/*The continue thingies at the bottom of the page*/
#bottom {
    font-family: Nunito, Calibri;
    font-size: 22px;
    height: 100px;
    width: 100%;
    background-color: white;
    bottom: 0;
    position: absolute;
    margin: 0 auto;
    text-align: center;
    display: inline-flex;
    padding: 20px;
}

#continueMessage {
    bottom: 20px;
    left: 20px;
    position: fixed;
}

#continueButton {
    right: 20px;
    position: fixed;
    opacity: 25%;
    cursor: not-allowed;
    transition: 0.3s;   
    outline: none;
}

.correct {
    background-color: "#5EFF19";
}