/*Properties that are universal for all buttons*/
.button {
    background-color: black;
    color: white;
    border-color: rgb(36, 36, 36);
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    user-select: none;
    transition: .3s;
}

.button:hover {
    box-shadow: 5px 4px rgb(36, 36, 36);
    text-decoration: none;
    color: white;
    transition: .3s;
}

.button:active {
    background-color: rgb(36, 36, 36);
    transform: translateY(4px);
}

.button:focus {
    outline: none;
}




/*Learn button on the homepage properties*/
.learnButtonHomepage {
    height: 70px;
    width: 150px;
    margin-top: 20px;
    font-size: 22px;
}



/*Language choosing buttons in courses properties*/
.languageButton {
    margin: 0px 30px;
    display: inline-block;
    height: 160px;
    width: 130px;
}

/*Language choosing buttons in courses flag properties*/
.languageButton img{
    height: 80px;
    width: 80px;
    margin-top: 20px;
    margin-bottom: 5px;
}



/*Option buttons properties*/
.answerButton {
    margin: 7px;
    height: 100px;
    width: 175px;
}



/*Check/Continue button properties on the bottom panel of the course page*/
.panelButton {
    margin-top: 2.5px;
    right: 30px;
    position: fixed;
    opacity: 25%;
    height: 55px;
    width: 150px;
    transition: .3s;   
}

.panelButton:hover {
    cursor: not-allowed;
}



/*Check button properties*/
.checkButton {
    margin-top: 30px;
    height: 50px;
    width: 150px;
}



/*TOS and Privacy Policy button properties*/
.iButton {
    height: 50px;
    width: 400px;
}



/*Properties of the login button*/
.loginButton {
    padding: 14px 20px;
    margin-top: 8px;
    width: 50%;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
}