/*Navbar*/
.navbar {
    background-color: black;
    padding: 5px;
    font-size: 15px;
    position: fixed;
    top: 0;
    user-select: none;
    z-index: 1;
    width: 100%;
}

/*The div menu with the link buttons*/
.menu {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
    position: relative;
}

.menu :hover {
    text-decoration: none;
}

.menu a {
    padding: 10px;
    color: white;
    display: block;
    transition: .3s;
}

.menu a:hover {
    background-color: rgb(36, 36, 36);
    border-radius: 15px;
    cursor: pointer;
    color: white;
}