.center {
    text-shadow: 1.5px 2px 2.5px #00000069;
}

#header{
    z-index: 2;
    font-weight: bold;
    font-size: 40px;
    padding-bottom: 15px;
}

#abouttext {
    font-family: Nunito, Calibri;
    font-size: 25px;
}