.center {
    position: relative;
    display: block;
}

.center h1 {
    font-size: 30px;
    font-weight: bold;
}

input[type=email], input[type=password] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 20px;
    outline-color: #5318a0;
}

.bottomLinks {
    margin-top: 8px;
}

.bottomLinks a {
    color: #5318a0;
    font-weight: bold;
    margin: 0 10px;
}

.bottomLinks a:hover {
    color: #7a3dca;
}