/*Nunito font*/
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

/*Navbar*/
.navbar {
    margin: 20px;
    border-radius: 15px;
    background-color: white;
    font-size: 15px;
    position: fixed;
    top: 0;
    transition: top 0.3s;
    z-index: 1;
}

.menu {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
    position: relative;
    left: 37%
}

.menu :hover {
    text-decoration: none;
}

.menu a {
    padding: 10px;
    transition: ease 0.5s;
    color: black;
    display: block;

}

.menu a:hover {
    background-color: rgb(231, 231, 231);
    border-radius: 15px;
    cursor: pointer;
}

#logo {
    width: 5%;
}

/*Hover for darkMode Bar*/
#darkBar ul li a:hover{
    background-color: rgb(36, 36, 36);
}