/*Nunito font*/
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

/*Navbar light theme*/
.navbar {
    margin: 20px;
    border-radius: 15px;
    background-color: white;
    font-size: 15px;
    position: fixed;
    top: 0;
    transition: top 0.3s;
    z-index: 1;
}

/*The div with the link buttons light theme*/
.menu {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
    position: relative;
    left: 40%
}

.menu :hover {
    text-decoration: none;
}

.menu a {
    padding: 10px;
    transition: ease 0.5s;
    color: black;
    display: block;

}

.menu a:hover {
    background-color: rgb(231, 231, 231);
    border-radius: 15px;
    cursor: pointer;
    color: black;
}





/*Navbar dark theme*/
.navbarDark {
    background-color: black;
}

/*The div with the link buttons dark theme*/
.menuDark a {
    color: white;
}

.menuDark a:hover {
    background-color: rgb(231, 231, 231); /*find a value for this color (might just be gray)*/
    color: white;
}





/*Hover for darkMode Bar*/     /*----------What is this for again?----------*/
#darkBar ul li a:hover{
    background-color: rgb(36, 36, 36);
}
