/*Navbar*/
.navbar {
    margin: 20px;
    border-radius: 15px;
    background-color: black;
    font-size: 15px;
    position: fixed;
    top: 0;
    user-select: none;
    transition: top 0.3s;
    z-index: 1;
}

/*The div menu with the link buttons*/
.menu {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
    position: relative;
}

.menu :hover {
    text-decoration: none;
}

.menu a {
    padding: 10px;
    transition: ease 0.5s;
    color: white;
    display: block;

}

.menu a:hover {
    background-color: rgb(36, 36, 36);
    border-radius: 15px;
    cursor: pointer;
    color: white;
}