<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn - 1</title>

    <!--CSS liked files-->
    <link rel="icon" href="../../../../images/logos/logoSmall.png" type="image/x-icon">
    <link rel="stylesheet" href="../../../../templates/css/exercise.css">
    <link rel="stylesheet" href="../../../../templates/css/general.css">
    <link rel="stylesheet" href="../../../../templates/css/buttons.css">
</head>
<body class="body">
    <div class="content">

        <!--Left panel-->
        <div class="leftPanel">

            <a href="../../../../index.html" title="Leave">
                <button class="button gradientButton2 goBackButton">Go back</button>
            </a>
            <br>
            <a href="../../../../index.html" title="Leave">
                <button class="button gradientButton practiceButton">Practice</button>
            </a>

        </div>

        <!--Right panel-->
        <div class="rightPanel">

            <!--Content title and icon-->
            <div class="exerciseTitle">
                <!--<img src="../../../../images/course/icons/book.png" class="exerciseIcon">-->
                <p id="exerciseTitle">Pronouns</p>
            </div>

            <!--Content-->
            <div>
                Welcome to the cum zone.
            </div>

        </div>

    </div>
</body>
<script src="script.js"></script>
</html>