<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn - 1</title>

    <!--CSS liked files-->
    <link rel="icon" href="../../../../images/logos/logoSmall.png" type="image/x-icon">
    <link rel="stylesheet" href="../../../../templates/css/exercise.css">
    <link rel="stylesheet" href="../../../../templates/css/general.css">
    <link rel="stylesheet" href="../../../../templates/css/buttons.css">
</head>
<body class="body">
    <div class="content">

        <!--Top panel-->
        <div class="topPanel">

            <a href="../../../finnish/course/" title="Leave">
                <button class="button goBackButton">←</button>
            </a>

            <p id="mainTitle">Hello</p>
        </div>

        <!--Bottom panel-->
        <div class="bottomPanel">

            <!--Content title and icon-->
            <div>
                <!--<img src="../../../../images/course/icons/book.png" class="exerciseIcon">-->
                <p id="exerciseTitle">Pronouns</p>
            </div>

            <!--Content-->
            <div>
                <p>
                    In Finnish there are personal pronouns just as in almost any other language. One special thing in Finnish language is that it has 
                    one pronoun for both women and men, which is <b><i>hän</i></b> <i>((s)he)</i>.
                </p>
                <br>
                <table>
                    <tr>
                        <th>Finnish</th>
                        <th>English</th>
                    </tr>
                    <tr>
                        <td>Minä</td>
                        <td>I</td>
                    </tr>
                    <tr>
                        <td>Sinä</td>
                        <td>You (singular)</td>
                    </tr>
                    <tr>
                        <td>Hän</td>
                        <td>(S)he</td>
                    </tr>
                    <tr>
                        <td>Me</td>
                        <td>We</td>
                    </tr>
                    <tr>
                        <td>Te</td>
                        <td>You (plural)</td>
                    </tr>
                    <tr>
                        <td>He</td>
                        <td>They</td>
                    </tr>
                  </table>
                  <br>
                  <p>
                    Here are some use cases for the pronouns in the table below. It’s important to use correct verb forms when making 
                    sentences with pronouns.
                  </p>
                  <br>
                  <table>
                    <tr>
                        <th>Finnish</th>
                        <th>English</th>
                    </tr>
                    <tr>
                        <td>Minä olen iloinen.</td>
                        <td>I am happy.</td>
                    </tr>
                    <tr>
                        <td>Sinä kävelet.</td>
                        <td>You are walking. (singular)</td>
                    </tr>
                    <tr>
                        <td>Hän nauraa.</td>
                        <td>(S)he is laughing.</td>
                    </tr>
                    <tr>
                        <td>Me olemme lääkäreitä.</td>
                        <td>We are doctors.</td>
                    </tr>
                    <tr>
                        <td>Te tanssitte.</td>
                        <td>You are dancing. (plural)</td>
                    </tr>
                    <tr>
                        <td>He ovat lapsia.</td>
                        <td>They are children.</td>
                    </tr>
                  </table>
                  <br>
                  <p>
                    When you know how to use correct verb forms, you can try doing it the spoken way.
                    <br><br>
                    In spoken language people are often referred to as se which means it. In formal occasions it’s good to use hän to sound polite.
                    <br><br>
                    Minä (I) and sinä (you) can also be shortened to mä and sä. When using mä and sä in a sentence, the verb form also shortens 
                    (Minä olen → mä oon) (Sinä olet → sä oot).
                    <br><br>
                    He (they) is also often changed to ne in spoken language. The verb also changes to basic form (He ovat → Ne on).
                    <br><br>
                    When using me (we) in a sentence, the verb changes to passive form 
                    (Me olemme → Me ollaan).
                  </p>
                  <br>
            </div>

        </div>

    </div>
</body>
</html>