<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn - 1</title>

    <!--CSS liked files-->
    <link rel="icon" href="../../../../images/logos/logoSmall.png" type="image/x-icon">
    <link rel="stylesheet" href="../../../../templates/css/exercise.css">
    <link rel="stylesheet" href="../../../../templates/css/general.css">
    <link rel="stylesheet" href="../../../../templates/css/buttons.css">
</head>
<body class="body">
    <div class="content">

        <!--Top panel-->
        <div class="topPanel">

            <a href="../../../../index.html" title="Leave">
                <button class="button goBackButton"><</button>
            </a>

            <p id="mainTitle">Exercise title</p>

            <a href="../../../../index.html" title="Practice the learned stuff">
                <button class="button gradientButton practiceButton">Practice</button>
            </a>

        </div>

        <!--Bottom panel-->
        <div class="bottomPanel">

            <!--Content title and icon-->
            <div>
                <!--<img src="../../../../images/course/icons/book.png" class="exerciseIcon">-->
                <p id="exerciseTitle">Pronouns</p>
            </div>

            <!--Content-->
            <div>
                In Finnish there are personal pronouns just as in almost any other language. One special thing in Finnish language is that it has 
                one pronoun for both women and men, which is <b><i>hän</i></b> <i>((s)he)</i>.

                <table>
                    <tr>
                        <th>Finnish</th>
                        <th>English</th>
                    </tr>
                    <tr>
                        <td>Minä</td>
                        <td>I</td>
                    </tr>
                    <tr>
                        <td>Sinä</td>
                        <td>You (singular)</td>
                    </tr>
                    <tr>
                        <td>Hän</td>
                        <td>(S)he</td>
                    </tr>
                    <tr>
                        <td>Me</td>
                        <td>We</td>
                    </tr>
                    <tr>
                        <td>Te</td>
                        <td>You (plural)</td>
                    </tr>
                    <tr>
                        <td>He</td>
                        <td>They</td>
                    </tr>
                  </table>
            </div>

        </div>

    </div>
</body>
<script src="script.js"></script>
</html>